@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');

* {
    font-family: 'Libre Franklin', sans-serif;
}

.display__container {
    display: flex;
    justify-content: center;
}

.str {
    display: grid;
    width: 1000px;
    height: 50px;
    justify-content: center;
}

.num {
    width: 50px;
    height: 30px;
    background: #fc5e5e;
    position: relative;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -10.5px;
    left: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 10px solid #fc5e5e;
}

.num:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 10px solid #fc5e5e;
}

#range-value {
    width: 40px;
}

.range__container {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

